html, body{
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}
header{
    display: flex;
}
.header, .logo, .reg_log, .section_2_block_1_1, .main_section_3, .section_3_block_2 .list, .section_5_block_1 .list, .main_section_4, .section_5_block_1, .main_section_7, .two, .main_section_10, footer{
    align-items: center;
    display: flex;
}
.header{
    align-items: center;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 100%;
}
.logo{
    flex-direction: row;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

}
.logo a{
    text-decoration: none;
    color: #0B132A;
}
.logo span{
    font-weight: 700;
}
.logo img{
    width: 35px;
    height: 36px;
    margin-right: 10px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.navigation a{
    text-decoration: none;
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #4F5665;
}
.reg_log{
    flex-direction: row;
}
.reg_log a, .reg_log .button_1{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #0B132A;
    text-decoration: none;
}
.reg_log .button_1{
    width: 150px;
    height: 45px;
    border: 1px solid #F53855;
    border-radius: 20px;
    color: #F53855;
    background-color: #fff;
    margin-left: 30px;
}
main{
    display: flex;
    flex-direction: column;
}
.main_section_1{
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    width: 100%;
}
.section_1_block_1, .section_1_block_2, .section_3_block_1, .section_3_block_2{
    width: 50%;
}
.section_1_block_1{
    margin-left: 100px;
}
.section_1_block_1 h2{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 70px;
color: #0B132A;
max-width: 555px;
max-height: 140px;
margin: 0px;
}
.section_1_block_1 .h1{
max-width: 555px;
max-height: 140px;
}
.section_1_block_2{
    margin-left: 50px;
}
.section_1_block_1_1, .main_section_4 p{
    max-width: 555px;
    max-height: 60px;
}
.section_1_block_1_1 p, .section_3_block_2 p, .main_section_4 p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.section_1_block_1 .button_2{
margin-top: 60px;
box-shadow: 0 20px 50px -15px red;
}
.section_9_block_2 .button_4, .section_1_block_1 .button_2{
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 25px;
color: #FFFFFF;
border: none;
}
.vl{
    border-left: 2px solid #EEEFF2;
    height: 125px;
}
.section_2_block_1_1{
    flex-direction: row;
}
.icon_text{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.section_2_block_1 img{
    width: 55px;
    height: 55px;
}
.icon_text span{
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #0B132A;
}
.icon_text p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #4F5665;
margin: 0;
}
.main_section_2{
    display: flex;
    width: 100%;
    margin-top: 105px;
    justify-content: center;
}
.main_section_2, .section_2_block_1{
    display: flex;
    flex-direction: row;
}
.section_2_block_1{
    width: 1140px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 54px 135px -55px rgb(170, 170, 170);
    border-radius: 30px;
}
.main_section_3{
    margin-top: 100px;
    width: 100%;
    flex-direction: row;
}
.section_3_block_2 ul li, .section_5_block_1 ul li{
    list-style: none;
}
.section_3_block_2 .list, .section_5_block_1 .list{
    margin-top: 15px;
}
.section_3_block_2 .list li, .section_5_block_1 .list li{
    margin-left: 10px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}
.section_3_block_2 h2, .main_section_4 h2{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
color: #0B132A;
max-width: 420px;
max-height: 100px;
}
.section_3_block_2 p{
    width: 427px;
    height: 60px;
}
.section_3_block_2 ul, .section_5_block_1 ul{
    padding: 0;
    margin: 0;
}
.section_3_block_1{
    margin-left: 180px;
}
.main_section_4{
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}
.main_section_4 h2{
    padding: 0;
    margin: 0;
}
.main_section_5{
    display: flex;
    justify-content: center;
}
.section_5_block_1{
    flex-direction: column;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 10px;
    width: 330px;
    height: 760px;
    margin-top: 50px;
}
.section_5_block_1 p{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #0B132A
}
.section_5_block_1 .button_3{
    width: 177px;
    height: 45px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #F53838;
background-color: #fff;
border-radius: 10px;
border: 2px solid #F53838;
margin-top: 15px;
}
.section_5_block_1 .img_one{
    margin-top: 80px;
}
.section_5_block_1 .select_1 p, .select_2 p, .select_3 p{
    margin: 0;
}
.section_5_block_1 .select_1{
    margin-top: 130px;
}
.section_5_block_1 .select_2{
    margin-top: 85px;
}
.section_5_block_1 .select_3{
    margin-top: 40px;
}
.sestion_5_central_block{
    margin-left: 50px;
    margin-right: 50px;
}
.main_section_6{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 155px;
}
.main_section_7{
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
}
.thre{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 40px;
}
.thre p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.one{
    width: 370px;
    height: 200px;
    border: 2px solid rgb(150, 145, 145);
    border-radius: 10px;
    background-color: white;
    padding: 30px;
  
}
.section_8{
  padding-top: 100px;
}
.thre p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #0B132A;
}
.thre span{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}
.slider_text{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #0B132A;
width: 360px;
height: 100px;

}
.star{
    margin-left: 100px;
}
svg{
    padding-right: 300px;
}
.owl-dots {
    padding-right: 1000px;
}
.owl-nav{
    padding-left: 1000px;
    padding-top: 25px;
}
.main_section_9{
    max-width: 100%;
    max-height: 233px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to bottom, white 70%, #F6F6F6 30%);
    padding-top: 70px;
}
.main_section_10{
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    width: 1140px;
    height: 233px;
    border-radius: 10px;
}
.section_9_block_1, .section_9_block_2{
    width: 50%;
}
.section_9_block_1 h2{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 45px;
color: #0B132A;
width: 410px;
margin: 0;
}
.section_9_block_1 p, .footer_section_1 .year{ 
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #4F5665;
width: 410px;
margin: 0;

}
.section_9_block_2{
    justify-content: center;
    display: flex;
}
.section_9_block_1{
    margin-left: 70px
}
.footer_section_1 p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #4F5665;
max-width: 340px;
max-height: 60px;
}
.footer_section_1 span{
    font-weight: 700;
}
.footer_section_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
}
.footer_section_2{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}
footer{
    flex-direction: row;
    background-color: #F8F8F8;
    height: 363px;
}
.footer_section_2 ul li{
    list-style: none;
}
.footer_section_2 ul{
    padding: 0;

}
.footer_section_2 ul li a{
    text-decoration: none;
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
.footer_section_2 h2{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #0B132A;
}
.section_4_color{
    background-color: #F6F6F6;
}
.main_section_1, .main_section_2, .main_section_3{
    background-color: #fff;
}
.main_section_5{
    background-image: linear-gradient(#F6F6F6 20%, white 80%);
}
.global{
    max-width: 1060px;
    max-height: 537px;
}
.laptop_work{
    max-width: 611px;
    max-height: 382px;
}
.button_1:hover{
    background-color: black;
    color: white;
    transition: 1s;
    border: none;
}
.button_2:hover{
    background-color: black;
    color: white;
    transition: 1s;
    border: none;
}
.button_3:hover{
    background-color: black;
    color: white;
    transition: 1s;
    border: none;
}
.button_4:hover{
    background-color: black;
    color: white;
    transition: 1s;
    border: none;
}
@media screen and ( max-width: 1200px){
    .logo img{
        width: 16px;
        height: 17px;
        margin-right: 5px; 
    }
    .logo{
        flex-direction: row;
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 5px;
    }
    .navigation a{
        text-decoration: none;
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4F5665;
    }
    .reg_log a, .reg_log .button_1{
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #0B132A;
        text-decoration: none;
        margin-left: 5px;
    }
    .reg_log .button_1{
        width: 75px;
        height: 22px;
        border: 1px solid #F53855;
        border-radius: 15px;
        color: #F53855;
        background-color: #fff;
        margin-left: 10px;
    }
    .section_1_block_1{
        margin-left: 10px;
    }
    .section_1_block_1 h2{
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #0B132A;
    max-width: 555px;
    max-height: 140px;
    margin: 0px;
    }
    .section_1_block_2{
        margin-left: 15px;
    }
    .section_1_block_1_1 p, .section_3_block_2 p, .main_section_4 p{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #4F5665;
}
.section_1_block_1 .button_2{
    margin-top: 10px;
    box-shadow: 4px 6px 26px red;
    }
    .section_9_block_2 .button_4, .section_1_block_1 .button_2{
        width: 100px;
        height: 40px;
        background: #F53838;
        border-radius: 5px;
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    border: none;
    }
    .vl{
        border-left: 2px solid #EEEFF2;
        height: 25px;
}
.icon_text{
    margin-left: 10px;
}
.section_2_block_1 img{
    width: 20px;
    height: 20px;
}
.section_1_block_2 .laptop_work{
    width: 250px;
    height: 200px;
}
.icon_text span{
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 17px;
color: #0B132A;
}
.icon_text p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 17px;
color: #4F5665;
margin: 0;
}
.main_section_2{
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}
.section_2_block_1{
    width: 600px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 22px 28px -8px rgb(170 170 170);
    border-radius: 30px;
}
.main_section_3{
    margin-top: 50px;
}
.section_3_block_2 .list li{
    margin-left: 5px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #4F5665;
}
.section_3_block_2 h2, .main_section_4 h2{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #0B132A;
max-width: 420px;
max-height: 100px;
}
.section_3_block_1{
    margin-left: 10px;
}
.section_3_block_1 img{
    width: 250px;
    height: 200px;
}
.section_3_block_2 p{
    width: 250px;
    height: 50px;
    padding: 0;
    margin: 0;
}
.main_section_4{
    padding-top: 50px;
}
.section_5_block_1{
    flex-direction: column;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 10px;
    width: 155px;
    height: 560px;
    margin-top: 30px;
    background-color: white;
}
.section_5_block_1 p{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #0B132A
}
.section_5_block_1 .button_3{
    width: 80px;
    height: 28px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color: #F53838;
background-color: #fff;
border-radius: 5px;
border: 2px solid #F53838;
margin-top: 10px;
}
.section_5_block_1 .img_one{
    margin-top: 40px;
    width: 70px;
    height: 70px;
}
.section_5_block_1 .select_1{
    margin-top: 100px;
}
.section_5_block_1 .select_2{
    margin-top: 59px;
}
.section_5_block_1 .select_3{
    margin-top: 19px;
}
.sestion_5_central_block{
    margin-left: 10px;
    margin-right: 10px;
}
.section_3_block_2 .list li, .section_5_block_1 .list li{
    margin-left: 10px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
color: #4F5665;
}
.main_section_4 h2{
    padding-top: 50px;
}
.main_section_6{
    padding-top: 100px;
}
.global{
    max-width: 400px;
    max-height: 200px;
}
.main_section_7 img{
  width: 70px;
  height: 30px;
}
.thre{
    margin-left: 5px;
    margin-right: 20px;
}
.one{
    width: 250px;
    height: 150px;
    border: 2px solid rgb(150, 145, 145);
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin-right: 20px;
  
}
.section_8{
  padding-top: 80px;
}
.thre p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 12px;
color: #0B132A;
}
.thre span{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #4F5665;
}
.slider_text{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #0B132A;
width: 250px;
height: 50px;

}
.section_9_block_1 h2{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #0B132A;
width: 410px;
margin: 0;
}
.section_9_block_1 p, .footer_section_1 .year{ 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4F5665;
    width: 300px;
    margin: 0;
    }
    .footer_section_1 p{
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4F5665;
    max-width: 340px;
    max-height: 60px;
    }
    .footer_section_1 {
        width: 50%;
        margin-left: 15px;
    }
 
    .footer_section_2 ul li{
        list-style: none;
    }
    .footer_section_2 ul{
        padding: 0;
    
    }
    .footer_section_2 ul li a{
        text-decoration: none;
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4F5665;
    }
    .footer_section_2 h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #0B132A;
    }
    .icon_footer img{
        width: 50px;
        height: 50px;
    }
}
